<div class="action-box" ngClass="{{action.type}}">
  <div class="action-icon"></div>

  <div class="action-agent">
    <div class="agent-avatar">
      <img src="assets/avatar.png" alt="avatar">
    </div>
    <div class="agent-details">
      <div class="agent-name">{{action.agentName}}</div>
      <div class="agent-role">{{action.agentRole}}</div>
    </div>
  </div>

  <div class="action-title">{{action.actionTitle}}</div>

  <div class="action-details">
    <div class="action-time">00:23:12</div>

    <div class="action-attachments">
      <span class="attachmenet-number">(3)</span>
      <i class="fas fa-paperclip"></i>
    </div>

    <i class="fas fa-chevron-right"></i>
  </div>
</div>