<ul class="nav flex-column dropdown">
  <li class="nav-item">
    <a>
      <i class="fas fa-bars icon-bars"></i>
    </a>
    <a>
      <i class="fa fa-chevron-circle-down icon-circle-down"></i>
    </a>
    <div class="dropdown-menu menu-content dropdown-content">
      <a class="nav-link" href="#">
        <img src="assets/menu/logo.svg" alt="">
      </a>
      <a class="nav-link" href="#">
        <img src="assets/menu/home.svg" alt="">
        <figcaption>Home</figcaption>
      </a>
      <a class="nav-link" href="#">
        <img src="assets/menu/documents.svg" alt="">
        <figcaption>Dokumenty</figcaption>
      </a>
      <a class="nav-link" href="#">
        <img src="assets/menu/messages.svg" alt="">
        <figcaption>Wiadomości</figcaption>
      </a>
      <a class="nav-link" href="#">
        <img src="assets/menu/profile.svg" alt="">
        <figcaption>Profil</figcaption>
      </a>
      <div class="bottom-menu">
        <a class="nav-link settings" href="#">
          <img src="assets/menu/settings.svg" alt="">
        </a>
        <a class="nav-link logout" href="#">
          <img src="assets/menu/logout.svg" alt="">
        </a>
      </div>
    </div>
  </li>
</ul>