<div class="history-box">
  <div class="history-box-heading">
    <h2>Historia spraw</h2>
    <span><a href="#"><u>pokaż pełną historie</u></a>
    </span>
  </div>


  <div class="action-box-titles">
    <span class="action-icon-title">Akcja</span>
    <span class="action-agent-title">Dane agenta</span>
    <span class="action-title-title">Temat rozmowy</span>
    <span class="action-details-title">Czas rozmowy</span>
  </div>

  <div class="date-spacer">Piątek, 25 maja</div>

  <app-history-action 
    *ngFor="let actionInHistory of history"
    [action]="actionInHistory"></app-history-action>


  <div class="date-spacer">Czwartek, 24 maja</div>

  <app-history-action 
    *ngFor="let actionInHistory of history" 
    [action]="actionInHistory"></app-history-action>


</div>