.history-box {
    background-color: #fff;
}

.action-box-titles,
.date-spacer {
    display: flex;
    padding: 6px 10px;
    justify-content: space-between;
}

.action-icon-title, .action-icon,
.action-agent-title, .action-agent,
.action-title-title, .action-title,
.action-details-title, .action-details {
   display: inline-block;
}

.action-icon-title {
    width: 10%;
}
.action-agent-title {
    width: 28%;
}
.action-title-title {
    width: 26%;
}
.action-details-title {
    width: 25%;
}

