<div class="history-box">
  <div class="history-box-heading">
    <h2>Historia spraw</h2>
    <span><a href="#"><u>pokaż pełną historie</u></a>
    </span>
  </div>


  <div class="action-box-titles">
    <span class="action-icon-title">Akcja</span>
    <span class="action-agent-title">Dane agenta</span>
    <span class="action-title-title">Temat rozmowy</span>
    <span class="action-details-title">Czas rozmowy</span>
  </div>

  <div class="date-spacer">Piątek, 25 maja</div>

  <div class="action-box videochat">
    <div class="action-icon"></div>

    <div class="action-agent">
      <div class="agent-avatar">
        <img src="assets/avatar.png" alt="avatar">
      </div>
      <div class="agent-details">
        <div class="agent-name">Jan Kowalski</div>
        <div class="agent-role">starszy konsultant</div>
      </div>
    </div>

    <div class="action-title">Kredyt konsolidacyjny</div>

    <div class="action-details">
      <div class="action-time">00:23:12</div>

      <div class="action-attachments">
        <span class="attachmenet-number">(3)</span>
        <i class="fas fa-paperclip"></i>
      </div>

      <i class="fas fa-chevron-right"></i>
    </div>
  </div>

    <div class="action-box chat">
      <div class="action-icon"></div>
    
      <div class="action-agent">
        <div class="agent-avatar">
          <img src="assets/avatar.png" alt="avatar">
        </div>
        <div class="agent-details">
          <div class="agent-name">Jan Kowalski</div>
          <div class="agent-role">starszy konsultant</div>
        </div>
      </div>
    
      <div class="action-title">Kredyt konsolidacyjny</div>
    
      <div class="action-details">
        <div class="action-time">00:23:12</div>
    
        <div class="action-attachments">
          <span class="attachmenet-number">(3)</span>
          <i class="fas fa-paperclip"></i>
        </div>
    
        <i class="fas fa-chevron-right"></i>
      </div>
    </div>

      <div class="action-box cobrowsing">
        <div class="action-icon"></div>
      
        <div class="action-agent">
          <div class="agent-avatar">
            <img src="assets/avatar.png" alt="avatar">
          </div>
          <div class="agent-details">
            <div class="agent-name">Jan Kowalski</div>
            <div class="agent-role">starszy konsultant</div>
          </div>
        </div>
      
        <div class="action-title">Kredyt konsolidacyjny</div>
      
        <div class="action-details">
          <div class="action-time">00:23:12</div>
      
          <div class="action-attachments">
            <span class="attachmenet-number">(3)</span>
            <i class="fas fa-paperclip"></i>
          </div>
      
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
  <div class="date-spacer">Czwartek, 24 maja</div>
        <div class="action-box videochat">
          <div class="action-icon"></div>
        
          <div class="action-agent">
            <div class="agent-avatar">
              <img src="assets/avatar.png" alt="avatar">
            </div>
            <div class="agent-details">
              <div class="agent-name">Jan Kowalski</div>
              <div class="agent-role">starszy konsultant</div>
            </div>
          </div>
        
          <div class="action-title">Kredyt konsolidacyjny</div>
        
          <div class="action-details">
            <div class="action-time">00:23:12</div>
        
            <div class="action-attachments">
              <span class="attachmenet-number">(3)</span>
              <i class="fas fa-paperclip"></i>
            </div>
        
            <i class="fas fa-chevron-right"></i>
          </div>
        </div>
      <div class="action-box chat">
        <div class="action-icon"></div>
      
        <div class="action-agent">
          <div class="agent-avatar">
            <img src="assets/avatar.png" alt="avatar">
          </div>
          <div class="agent-details">
            <div class="agent-name">Jan Kowalski</div>
            <div class="agent-role">starszy konsultant</div>
          </div>
        </div>
      
        <div class="action-title">Kredyt konsolidacyjny</div>
      
        <div class="action-details">
          <div class="action-time">00:23:12</div>
      
          <div class="action-attachments">
            <span class="attachmenet-number">(3)</span>
            <i class="fas fa-paperclip"></i>
          </div>
      
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
      <div class="action-box cobrowsing">
        <div class="action-icon"></div>
      
        <div class="action-agent">
          <div class="agent-avatar">
            <img src="assets/avatar.png" alt="avatar">
          </div>
          <div class="agent-details">
            <div class="agent-name">Jan Kowalski</div>
            <div class="agent-role">starszy konsultant</div>
          </div>
        </div>
      
        <div class="action-title">Kredyt konsolidacyjny</div>
      
        <div class="action-details">
          <div class="action-time">00:23:12</div>
      
          <div class="action-attachments">
            <span class="attachmenet-number">(3)</span>
            <i class="fas fa-paperclip"></i>
          </div>
      
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
</div>