<app-sidemenu></app-sidemenu>

<div class="container">
    <div class="row">

        <div class="col-sm-4 outer-container">
            <div class="inner-container">
                <app-card-section customTypo="videochat" longName="Porozmawiaj VIDEO"></app-card-section>
            </div>
        </div>

        <div class="col-sm-4 outer-container">
            <div class="inner-container">
                <app-card-section customTypo="chat" longName="Napisz na CZACIE"></app-card-section>
            </div>
        </div>

        <div class="col-sm-4 outer-container">
            <div class="inner-container">
                <app-card-section customTypo="cobrowsing" longName="Włącz COBROWSING"></app-card-section>
            </div>
        </div>

    </div>
</div>