@import '~normalize.css';

@import '~bootstrap/scss/bootstrap';

* {
    box-sizing: border-box;
}

body {
    background-image: url('assets/background.png');
    background-size: cover;
    background-attachment:fixed
}

u {
    color: #aeaeae;
}

small {
    font-size: 67%;
}