@import '~normalize.css';

@import '~bootstrap/scss/bootstrap';

* {
    box-sizing: border-box;
}

body {
    background-image: url('assets/background.png');
    background-size: cover;
    background-attachment:fixed
}

#main-app-container {
    width: 90vw;
    margin: 0 auto;
}